// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-width: 975px;

$darken: #3C3C3C;

.header {
    background: -moz-linear-gradient(center top , #3d8bb6, #052c51) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, from(#3d8bb6), to(#052c51));
    left: 0;
    padding: 1px 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
    margin-left: auto;
    margin-right: auto;
	max-width: $main-width;
	img {
		width: $main-width;
	}
}
.logout {
	cursor: pointer;
}
.sign-in {
	height: 450px;
	padding-top: 95px;
}
.frost {
    background: #f3f3f3;
    border: 1px solid #ccc;
    float: left;
    font-size: 0.8em;
    padding: 0 20px 10px;
    width: 358px;
	height: 385px;
	margin: 10px 21px;
	.login-form {
		margin-top: 66px;
	}
	.text-field {
		padding: 0px 5px;
		height: 25px;
		color: #000000;
		font-size: 13px;
	}
	h6 {
		text-align: center;
		color: #000000;
		border-bottom: 2px solid #e6e6e6;
	}
	p {
		font-size: 14px;
		height: 35px;
	}
	.submit {
		border-radius: 3px;
	    border: 1px solid #730;
		color: #fff;
		width: 188px;
	    font-size: 15px;
	    height: 28px;
	}
	.orange {
	    background: -moz-linear-gradient(center top , #f57e37, #e05714) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background: -webkit-gradient(linear, left top, left bottom, from(#f57e37), to(#e05714));
	    border: 1px solid #730;
	}
	.blue {
	    background: -moz-linear-gradient(center top , #3399FF, #003366) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background: -webkit-gradient(linear, left top, left bottom, from(#3399FF), to(#003366));
	    border: 1px solid #003366;
	}
}
.logos {
	margin-top: 33px;
}
.row {
	max-width: $main-width !important;
}
.short-row {
	max-width: 782px;
	margin: 0 auto;
}


.side-nav {
	min-height: 740px;
	li {
		cursor: pointer;
		.divider {
			display: inline-block;
			height: 3px;
		}
	}
	.employees-section {
		ul {
			max-height: 635px;
			overflow: auto;
			margin: 4px;
			.expense-btn {
				height: 23px;
				padding-top: 2px;
				font-size: 12px;
			}
			.yellow2 {
				background-color: #ffffcc;
			}
		}
	}
}

#leftSideNav li {
	font-size: 12px;
}

#form-error {
	color: #fff;
	text-shadow: 0 -1px 1px #770d0d;
	background: #FF0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#330000));
	background: -moz-linear-gradient(top, #FF0000, #330000);
	height: 21px;
}

.expense-btn {
	background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.21)) repeat-x scroll 0 0 #FFFFFF;
	color: #000000;
	font-weight: normal;
	text-shadow: 0 1px 1px #FFFFFF;
	margin: 6px 2px 4px 0px;
	border: 1px solid #CCCCCC;
	padding-top: 5px;
	height: 39px;
	display: block;
	text-align: center;
	font-size: 15px;
}

.expense-hdr {
	display: none;
	float:left;
	height: 33px;
	color: #FFFFFF;
	margin-top: 14px;
	background: -moz-linear-gradient(center top , #3399FF, #003366) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, from(#3399FF), to(#003366));
	line-height: 30px;
}

#expenses-page {
	.yellow {
		background-color: #FFFF33;
	}
	.disable {
		color: #A0A0A0 !important;
	}
	.buttons-section {
		text-align: center;
	}

	.btn {
		background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.21)) repeat-x scroll 0 0 #FFFFFF;
		color: #000000;
		font-weight: normal;
		text-shadow: 0 1px 1px #FFFFFF;
		margin: 0px 2px 10px 0px;
		border: 1px solid #CCCCCC;
		padding-top: 6px;
		height: 26px;
	}

	#expense-table {
		.expense-table-contents {
			border-spacing: 1;
			width: 100%;
			thead {
				display: block;
				height: 30px;
			    margin-bottom: 7px;
				th {
					font-size: 12px;
					font-weight: normal;
					color: #fff;
					text-align: center;
					background: #66C266;
					background: -moz-linear-gradient(center top , #3399FF, #003366) repeat scroll 0 0 rgba(0, 0, 0, 0);
					background: -moz-linear-gradient(center top , #3399FF, #003366) repeat scroll 0 0 rgba(0, 0, 0, 0);
					background: -webkit-gradient(linear, left top, left bottom, from(#3399FF), to(#003366));
				}
				.date {
					padding: 0px;
					width: 98px;
				}
				.amount {
					width: 82px;
				}
				.vendor {
					width: 172px;
				}
				.status {
					width: 114px;
				}
				.purpose {
					width: 295px;
				}
			}
			tbody {
				display: block;
				max-height: 371px;
				min-height: 33px;
				background-color: #FFFFCC;
				overflow: auto;
				tr {
					height: 40px;
					td {
						padding-left: 5px;
						padding-right: 5px;
					}
				}
				.date, .amount, .vendor, .purpose {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.date  {
					width: 95px;
					max-width: 95px;
					text-align: center;
				}
				.amount {
					width: 80px;
					max-width: 80px;
					text-align: right;
				}
				.vendor {
					width: 170px;
					max-width: 170px;
				}
				.status {
					width: 115px;
				}
				.purpose {
					width: 295px;
					max-width: 295px;
				}
			}
			tr.pending_expenses, tr.blank_expenses {
				cursor: pointer;
				display: block;
				border-bottom: 3px solid #e6e6e6;
			}
		}
		
	}

	#expense-total {
		.expense-total {
		    border-spacing: 0;
			tbody {
				background-color: #FFFFCC;
				td {
					line-height: 4px;				
				}
			}
		}
	}
	
	#expense-section {
		    border-collapse: separate;
		    border-spacing: 0;
		    font-family: arial,sans-serif;
			margin: 5px 0 7px;
		    padding: 0 0 10px 2px;
			height: 339px;
			.headers {
				background: -moz-linear-gradient(center top , #3399FF, #003366) repeat scroll 0 0 rgba(0, 0, 0, 0);
				background: -webkit-gradient(linear, left top, left bottom, from(#3399FF), to(#003366));
			    color: #ffffff;
			    font-weight: normal;
			    text-align: left;
			    vertical-align: bottom;
			    white-space: nowrap;
				span {
					font-size: 14px;
					line-height: 29px;
					margin-left: 4px;
				}
				margin: 0px 0px 6px -1px;
			}
			.row {
				height: 32px;
				width: 100%;
			}
			.expense-details {
				input {
					color: $darken;
				}
				label {
					float: left;
					font-size: 13px;
					padding: 2px 4px 0 0;
					margin-right: 0px;
				}
				.text-box, .text-box2 {
					width: 97px;
					float: left;
					margin-right: 7px;
					font-size: 12px;
				}
				.check-box {
					margin: 8px 1px 0;
					float: left;
				}
				select {
					height: 23px;
					max-width: 350px;
					font-size: 12px;
					padding: 1px;
					margin: 0px;
					color: $darken;
				}
				.select-size1 {
					width: 58px;
				}
				.select-size2 {
					width: 70%;
				}
				.text-entry {
					max-width: 91%;
					min-width: 91%;
				}
				.text-box2 {
					width: 230px;
					margin-right: 0px;
				}
			}
	}
	
}